server:
  port: 8082  # Different port from gateway

spring:
  application:
    name: inventory-service

  datasource:
    url: jdbc:postgresql://45.79.122.134:5432/inventoryservice_db?options=-c%20TimeZone=Asia/Kolkata
    username: jack2872
    password: Tester@4723$
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 3        # Keep below Supabase max clients in session mode
      minimum-idle: 1
      idle-timeout: 30000         # 30 seconds
      connection-timeout: 30000   # 30 seconds
      max-lifetime: 1800000       # 30 minutes

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update #validate ( prod -level )
    show-sql: true
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    hostname: localhost
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

jwt:
  secret: mySecretKeyForJWTShouldBeAtLeast256BitsLongForHS256Algorithm1234567890
  expiration: 86400000

logging:
  level:
    root: INFO
    com.bmsedge.inventory: DEBUG
    org.springframework.security: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
